April 17 Weekend Assignment

Assignment details:

Make a to-do list in React, using Redux to store your information and manage your states. Your
solution should have the following functionality:

❏ A method to add in a new task
❏ A method to remove a task
❏ Semantic-ui-react to design the user interface
❏ Redux store must be used to store your information
❏ Redux must be used to both add and remove items from the store
❏ For task removal, if a task does not exist, an error message should be displayed
❏ Input must be stored in the local component state until the todo submit button is pressed
to submit the input object to the redux store.
❏ Display all tasks on the page
❏ Display should rerender when a task is removed/added without refreshing the page

Assignment due date: Monday, April 20, 9:00 AM

Your GitHub repository link for this assignment should be handed in to techc@ualberta.ca
before the deadline.